<div class="d-flex justify-content-center spin">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

  <div class='align-self-center'>
    <h1>All the Artists</h1>
  </div>
  <div class='align-self-center'>
    <%= link_to "Add an Artist", new_artist_path, { :class => "btn btn-primary" } %>
  </div>
  
  <br><br>


  <table class="table table-striped artists-table" style="display: none">
    <thead class="thead-dark">
      <tr>
        <th>Artist</th>
        <th>Image</th>
        <th>Albums</th>
        <th>Hometown</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <% @artists.each do |artist| %>
        <tr>
          <td><%= link_to artist.name, artist_path(artist) %></td>
          <td><%= image_tag(artist.img, size: "100x100", alt: "Artist Image") %></td>
          <td><%= artist.albums %></td>
          <td><%= artist.hometown %></td>
          <td><a class="btn btn-primary" href="<%= edit_artist_path(artist) %>" >
            <em class="large material-icons">Edit Artist</em>
            </a>
          </td>
          <td>
            <a class="btn btn-primary" data-confirm="Are you sure you want to delete <%= artist.name %>?" data-method="delete" href="/artists/<%= artist.id %>" rel="nofollow"><i class="large material-icons">Delete Artist</i>
            </a>
        </td>
        </tr>
    <% end %>
  </table>
